.menu {
  background-color: #2a4d69;
  width: 100vw;
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}

a {
    text-decoration: none;
}

a:link {
    color: #f1f6fa;
  }
  
a:visited {
  color: #f1f6fa;
}
  
a:hover {
  color: #63ace5;
  transition: 0.2s ease;
}
  
a:active {
  color: #f1f6fa;
}

.menu-items {
  display: flex;
  gap: 25px;
  color: #f1f6fa;
  padding-left: 30px;
}