.options-bar {
    position: fixed;
    bottom: 0;
    background-color: red;
    color: white;
    width: 70vw;
    text-align: center;
}

.bulk-delete {
    font-weight: 500;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
  
    .options-bar {
        width: 50vw;
    }
}

@media screen and (max-width: 600px) {
  
    .options-bar {
        width: 100vw;
    }
}