.home-sections {
    display: grid;
    grid-template-columns: 30% 70%;
    height: calc(100vh - 90px);
}

.home-left-section {
    justify-content: center;
    background-color: #cce5f3;
}

.home-right-section {
    justify-content: center;
    background-color: #f1f6fa;
}

@media screen and (max-width: 900px) {
  
    .home-sections {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 600px) {
  
    .home-sections {
        display: flex;
        flex-direction: column;
    }
}