.note-box-edit > p{
    font-size: 20px;
    font-weight: 600;
}

.note-button-edit {
    width: 300px;
    height: 30px;
    background-color: rgb(3, 163, 3);
    color: white;
    border: none;
}

.note-button-edit:hover {
    background-color: rgb(34, 201, 34);
}

.note-button-delete {
    width: 300px;
    height: 30px;
    background-color: rgb(218, 16, 16);
    color: white;
    border: none;
}

.note-button-delete:hover {
    background-color: rgb(237, 57, 57);
}

.note-box-edit {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: rgb(212, 238, 216);
    padding: 30px;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    justify-content: center;
    box-shadow: 10px 10px #adcbe3;
  }