.header {
    background-color: rgb(4, 172, 172);
    position: relative;
    width: 100vw;
    height: 90px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.header-left {
    padding-left: 20px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logout-button {
    width: 80px;
}