.header {
    background-color: #adcbe3;
    width: 100vw;
    height: 90px;
    align-items: center;
    justify-content: center;
}

.header-left {
    float: left;
    padding-left: 30px;
    padding-top: 5px;
}

h1 {
    font-family: 'DM Sans', sans-serif;
    color: #2a4d69;
}

a {
    text-decoration: none;
}

h1:hover {
    cursor: pointer;
}

.header-right {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-right: 30px;
    padding-top: 20px;
}

.logout-button {
    width: 80px;
    height: 35px;
    background-color: #f1f6fa;
    border: none;
    display: inline-block;
    padding: 5px 15px;
    text-align: center;
}

.logout-button:hover {
    background-color: #63ace5;
    transition: 0.2s ease;
}

@media screen and (max-width: 500px) {

    .header-right > p {
        display: none;
    }
}