.header {
    background-color: rgb(247, 175, 181);
    width: 100vw;
    height: 90px;
    align-items: center;
    justify-content: center;
}

.header-left {
    float: left;
    padding-left: 30px;
    padding-top: 5px;
}

.header-right {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-right: 30px;
    padding-top: 20px;
}

.logout-button {
    width: 80px;
    height: 35px;
    background-color: rgb(255, 255, 255);
    border: none;
    display: inline-block;
    padding: 5px 15px;
    text-align: center;
}

.logout-button:hover {
    background-color: rgb(230, 230, 230);
    transition: 0.2s ease;
}