.categories {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.category-p {
    color: #2a4d69;
    font-weight: 600;
}

.category-p:hover {
    cursor: pointer;
    color: #63ace5;
}

.notes-grid {
    padding-top: 30px;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}