.notes {
    margin: 20px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.categories {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px 30px;
    flex-wrap: wrap;
}

.categories > p {
    color: #2a4d69;
    font-weight: 600;
}

.categories > p:hover {
    cursor: pointer;
    color: #63ace5;
}

.notes-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(autofit);
    gap: 40px;
}

.disabledDiv {
    pointer-events: none;
    opacity: 0.4;
}