.note-card {
    background-color: rgb(212, 238, 216);
    width: 200px;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px #adcbe3;
    display: inline-block;
}

.note-category {
    color: grey;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.note-title {
    color: black;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
}

.note-card-button {
    border-radius: 10px;
    background-color: rgb(171, 226, 178);
    border: none;
    padding: 7px;
}

.note-card-button:hover {
    background-color: rgb(90, 207, 90);
    transition: 0.2s ease;
}